[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
grpcio-tools = "*"

[packages]
grpcio = "*"
grpcio-reflection = "*"
protobuf = "*"
rootpath = "*"
simplejson = "*"
zeep = "*"

[requires]
python_full_version = "3.7.7"
