# Python dependencies from Pip
#
# Workspace setup:
#   $ make env
#   $ pipenv shell
#   $ python foo/bar.py
#
# Adding a package:
#   $ pipenv install
#   $ git commit Pipfile Pipfile.lock

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
simplejson = "*"
zeep = "*"
googleapis-common-protos = "*"
grpcio-tools = "*"
rootpath = "*"
grpcio-reflection = "*"

[requires]
python_version = "3.7"
